<p id="notice"><%= notice %></p>

<p>
  <strong>Fio:</strong>
  <%= @tabinf.fio %>
</p>

<p>
  <strong>Address:</strong>
  <%= @tabinf.address %>
</p>

<p>
  <strong>Ntel:</strong>
  <%= @tabinf.ntel %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @tabinf.sex %>
</p>

<p>
  <strong>Datro:</strong>
  <%= @tabinf.datro %>
</p>

<p>
  <strong>Mestoro:</strong>
  <%= @tabinf.mestoro %>
</p>

<%= link_to 'Edit', edit_tabinf_path(@tabinf) %> |
<%= link_to 'Back', tabinfs_path %>
